<div ng-show="state.studiesResponse && state.studiesResponse.summary" style="padding: 10px;">
    <div id="studiesResponse-title-container" class="item item-avatar"
         style="background: #F48120; border-radius: 15px 15px 0 0; border-width: 0;">
        <i id="studiesResponse-ionIcon" class="icon {{state.studiesResponse.ionIcon}}"
           style="position: absolute;
							top: 15px;
							left: 15px;
							font-size: 36px;
							max-width: 40px;
							max-height: 40px;
							width: 100%;
							color: white;
							border-radius: 4px;"
        ></i>
        <p id="studiesResponse-title"
           style="font-size: 20px; text-align: center; height: 40px; line-height: 40px; white-space: nowrap; color: white;">
            {{state.studiesResponse.summary}}
        </p>
    </div>
    <div id="studiesResponse-description" class="item item-body"
         style="text-align: center; background: #F48120; border-width: 0; border-radius: 0 0 15px 15px; color: white;">
        {{state.studiesResponse.description}} {{state.studiesResponse.startTracking.description}}
        <br>
        <div class="button-bar" style="margin-top: 20px; margin-bottom: 10px;">
            <a id="more-studies-info" class="button button-clear button-positive"
               ng-click="showExplanationsPopup('thumbs', $event)" style="text-overflow: clip;">
                <div style="background: white ; color: #F48120; border-radius: 30px; width: 230px; margin: 0 auto;">
                    <i class="ion-information-circled" style="font-size: 150%;"> </i> Improve Predictions
                </div>
            </a>
        </div>
    </div>
    <div ng-if="state.requestParams.sort && state.requestParams.sort === '-statisticalSignificance'"
         class="item item-body" style="text-align: center;">
        Results in order of descending statistical significance.
    </div>
    <div ng-if="state.requestParams.sort && state.requestParams.sort === '-qmScore'"
         class="item item-body" style="text-align: center;">
        Results in order of descending QM Score which is a combination of effect size and statistical significance.
    </div>
    <div ng-if="state.requestParams.sort && state.requestParams.sort === '-correlationCoefficient'"
         class="item item-body" style="text-align: center;">
        Results in order of descending predictive correlation. (So you'll probably just see positive correlations.)
    </div>
    <div ng-if="state.requestParams.sort && state.requestParams.sort === 'correlationCoefficient'"
         class="item item-body" style="text-align: center;">
        Results in order of ascending predictive correlation. (So you'll probably just see negative correlations.)
    </div>
</div>
<div ng-show="searching" style="text-align: center"><br><br><br><br><br>
    <ion-spinner icon="android"></ion-spinner>
    <br>
</div>
<ion-list>
    <div id="correlationList" class="list card correlationResultList" style="text-align: center"
         ng-repeat="study in state.studiesResponse.studies">
        <div id="correlationBody" class="item-body">
            <div ng-bind-html="trustAsHtml(study.studyHtml.studyHeaderHtml)"
                 ng-click="goToStudyPageViaStudy(study)"></div>
            <div ng-include="'templates/fragments/correlation-buttons-fragment.html'"></div>
            <div ng-include="'templates/buttons/join-study-button.html'"></div>
        </div>
    </div>
</ion-list>
